:root {
  --bg: #222127;
  --bg-alt: #D9D8DE;
  --menu: #4D4B58;
  --border: #F2F1F3;
  --button: #79758A;
  --hover: #918E9F;
  --text: #F2F1F3;
  --text-alt: #0C0C0E;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}

.menu {
    padding: 10px;
    background-color: var(--menu);
    border: solid 1px var(--border);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.button {
    padding: 2px;
    background-color: var(--button);
    border: solid 1px var(--border);
    height: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: var(--hover);
}

#size-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px;
}

#size-input {
  width: 30px;
  color: var(--text-alt);
  text-align: center;
  background-color: var(--bg-alt);
}

#settings-container {
  width: 100%;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}