:root {
  --bg: #222127;
  --bg-alt: #D9D8DE;
  --header: #413F4A;
  --menu: #4D4B58;
  --border: #F2F1F3;
  --button: #79758A;
  --hover: #918E9F;
  --text: #F2F1F3;
  --text-alt: #0C0C0E;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
  gap: 60px;
}

.header, 
.footer {
  width:100%;
  min-height: 60px;
  background-color: var(--header);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.menu {
    padding: 10px;
    background-color: var(--menu);
    border: solid 1px var(--border);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.button {
    padding: 2px;
    background-color: var(--button);
    border: solid 1px var(--border);
    height: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: var(--hover);
}

#size-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px;
}

#size-input {
  width: 30px;
  color: var(--text-alt);
  text-align: center;
  background-color: var(--bg-alt);
}

#settings-container {
  width: 100%;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

#board-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.board {
  background-color: var(--bg);
  gap: 1px;
}

.cell {
  background-color: var(--bg-alt);
  aspect-ratio: 1 / 1;
  min-height: 30px;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.ship {
  background-color: var(--button);
}

.cell.ship.hit {
  background-color: red;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--bg);
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}